@if (student()) {
  @let s = student();
  <div>
    <h2>{{ s!.firstName }} {{ s!.lastName | uppercase }} details</h2>
    <div><span>Id: </span>{{ s!.id }}</div>
    <div>
      <label>
        Index:
        <input [(ngModel)]="s!.index" name="index" placeholder="index" />
      </label>
      <label>
        First name:
        <input [(ngModel)]="s!.firstName" name="first name" placeholder="first name" />
      </label>
      <label>
        Last name:
        <input [(ngModel)]="s!.lastName" name="last name" placeholder="last name" />
      </label>
    </div>
    <button (click)="save()">Save</button>
    <button (click)="goBack()">Back</button>
  </div>
} @else {
  <h2>No student found.</h2>
}
